body{
background-color: #A9A9A9;
}

#main{
height:450px;
background-color: coral;
margin-top:100px;
border-radius:20px;
}

#info{
margin-left:20px;
padding-top: 2px;
}

input[type=text]{
width:200px;
box-sizing: border-box;
border: 2px solid #A9A9A9;
border-radius: 4px;
}